# Android
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
*.iml
.idea/
*.log

# Gradle
gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
!gradle/wrapper/gradle-wrapper.properties
gradlew.bat

# Generated
app/build/
app/release/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.keystore
!debug.keystore
